# Compiled files, executables
*.o
*.a
*.exe
*.out
*.app

# Junk
*.orig
*.log
*.bak

# IDE project files
.cproject
.project
.settings

# Markers
.development

# Extras
extras/docs/*
extras/Module Datasheets/*

# PlatformIO/Atom/VSCode
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
platformio.ini
lib/readme.txt
\.vscode/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
