# Compiled files, executables
*.o
*.a
*.exe
*.out
*.app

# Junk
*.orig
*.log
*.bak

# IDE project files
.cproject
.project
.settings
.pioenvs
.piolibdeps
.pio/*
.clang_complete
.gcc-flags.json
platformio.ini
extra_envs.ini
lib/readme.txt
include/readme.txt
.atomrc.cson
.history

# VSCode
.vscode/*
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json

# Markers
.development

# Extras
extras/docs/*
extras/Module Datasheets/*
extras/Older Command Manuals/*
extras/Older Command Manuals/*
extras/At Command Manuals - Unsupported/*

# Filters
.gitconfig
filters/*
platformio_extra_envs.ini
*.tar.gz
pioScripts/generate_compile_commands.py
compile_commands.json
src/TinyGsmATDefines.h
